
base 23 "html\base.html"
style 23 "html\style.css"
motd 23 "html\motd.inc"
bullet 23 "html\bullet.gif"
square 23 "html\square.gif"
lt 23 "html\lt.gif"
gt 23 "html\gt.gif"
dlt 23 "html\dlt.gif"
dgt 23 "html\dgt.gif"
at 23 "html\at.gif"
bro 23 "html\bro.gif"
brc 23 "html\brc.gif"
bullet1 23 "html\bullet1.gif"
square1 23 "html\square1.gif"
lt1 23 "html\lt1.gif"
gt1 23 "html\gt1.gif"
dlt1 23 "html\dlt1.gif"
dgt1 23 "html\dgt1.gif"
at1 23 "html\at1.gif"
bro1 23 "html\bro1.gif"
brc1 23 "html\brc1.gif"

settings 23 "html\settings.html"